@import '../../components/variables.css';
@import '../../routes/addtickets/AddTickets.css';

.root {
  padding-left: 20px;
  padding-right: 20px;
}

.container {
  margin: 0 auto;
  padding: 0 0 40px;
  max-width: var(--screen-lg-min);
}

.ticketDetail {
  display: inline-block;
  padding: 10px 15px;
}

.detailHeader {
  text-decoration: underline;
  font-weight: bold;
  font-size: 1em;
}

.buttonBlue {
  background-color: #008cba;
  border: none;
  color: white;
  padding: 5px 24px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  float: right;
  cursor: pointer;
}

.buttonClear {
  background-color: transparent;
  border: none;
  color: #00e;
  padding: 5px 24px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  float: right;
  cursor: pointer;
}

button {
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
}

button:disabled,
button[disabled] {
  background-color: rgb(3, 53, 70);
  color: #666;
  cursor: not-allowed;
}
